{% include base_path %}

<!-- start custom head snippets -->

<!-- Support for Academicons -->
<link rel="stylesheet" href="{{ base_path }}/assets/css/academicons.css"/>

<!-- favicon from https://commons.wikimedia.org/wiki/File:OOjs_UI_icon_academic-progressive.svg -->
<link rel="apple-touch-icon" sizes="180x180" href="{{ base_path }}/images/apple-touch-icon-180x180.png"/>
<link rel="icon" type="image/svg+xml" href="{{ base_path }}/images/favicon.svg"/>
<link rel="icon" type="image/png" href="{{ base_path }}/images/favicon-32x32.png" sizes="32x32"/>
<link rel="icon" type="image/png" href="{{ base_path }}/images/favicon-192x192.png" sizes="192x192"/>
<link rel="manifest" href="{{ base_path }}/images/manifest.json"/>
<link rel="icon" href="/images/favicon-circle.ico"/>
<meta name="theme-color" content="#ffffff"/>

<!-- Person structured data (JSON-LD) for homepage -->
{% if page.permalink == "/" %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "name": "Daniel Lopez-Martinez",
  "url": "https://daniellopezmartinez.com",
  "jobTitle": "Senior Applied Scientist",
  "worksFor": {
    "@type": "Organization",
    "name": "Amazon"
  },
  "alumniOf": [
    { "@type": "EducationalOrganization", "name": "Massachusetts Institute of Technology" },
    { "@type": "EducationalOrganization", "name": "Harvard University" },
    { "@type": "EducationalOrganization", "name": "University of Cambridge" },
    { "@type": "EducationalOrganization", "name": "Imperial College London" }
  ],
  "image": "https://daniellopezmartinez.com/images/profile-seattle.jpg",
  "sameAs": [
    "https://www.linkedin.com/in/daniel-lopezmartinez",
    "https://scholar.google.com/citations?hl=en&user=0abBQg8AAAAJ",
    "https://github.com/daniel-lopezmartinez",
    "https://www.instagram.com/dlmocdm",
    "https://www.media.mit.edu/people/dlmocdm/overview/",
    "https://www.amazon.science/author/daniel-lopez-martinez"
  ]
}
</script>
{% endif %}

<!-- end custom head snippets -->
