---
layout: archive
title: "Portfolio"
permalink: /portfolio/
author_profile: true
---

{% include base_path %}

<h2>Amazon (2023-Present)</h2>
{% for post in site.portfolio %}
  {% if post.category != 'amazon'] %}
    {% continue %}
  {% endif %}
  {% include archive-single.html %}
{% endfor %}

<h2>Tempus AI (2023)</h2>
{% for post in site.portfolio %}
  {% if post.category != 'tempus'] %}
    {% continue %}
  {% endif %}
  {% include archive-single.html %}
{% endfor %}

<h2>Google (2019-2023)</h2>
{% for post in site.portfolio %}
  {% if post.category != 'google'] %}
    {% continue %}
  {% endif %}
  {% include archive-single.html %}
{% endfor %}

<h2>MIT (2014-2019)</h2>
{% for post in site.portfolio %}
  {% if post.category != 'mit'] %}
    {% continue %}
  {% endif %}
  {% include archive-single.html %}
{% endfor %}